@font-face {
  font-family: "SF-Pro-Medium";
  src: url("../fonts/SF-Pro-Text-Medium.otf") format("otf");
}
@font-face {
  font-family: "SF-Pro-Regular";
  src: url("../fonts/SF-Pro-Text-Regular.otf") format("otf");
}

@font-face {
  font-family: "SF-Pro-Thin";
  src: url("../fonts/SF-Pro-Text-Thin.otf") format("otf");
}

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --nav: rgba(22, 22, 23, 0.8);
  --nav-under: rgba(22, 22, 23, 0.9);
  --muted-white: rgba(255, 255, 255, 0.7);
  --main-font: "SF-Pro-Regular", Arial, sans-serif;
  --med-font: "SF-Pro-Medium", Arial, sans-serif;
  --thin-font: "SF-Pro-Thin", Arial, sans-serif;
  --white: #f5f5f7;
  --main-links: rgba(41, 151, 255);
}

html {
  font-size: 16px;
}

/**************
* TYPOGRAPHY
**************/

a.main-links {
  color: var(--main-links);
  text-decoration: none;
  font-size: 1rem;
}

a i.fa-chevron-right {
  color: var(--main-links);
  margin-left: 7px;
  font-size: 0.6rem;
}

a.main-links:hover {
  text-decoration: underline;
  transition: text-decoration 2s ease;
}

/**************
*     HEADER
***************/

body {
  line-height: 1;
  font-family: var(--thin-font);
  color: var(--white);
  font-weight: 400;
}

header {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  color: var(--muted-white);
  padding: 0.4rem 1rem;
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: -0.1px;
  margin-right: --1.25rem;
  background: var(--nav);
  height: 45px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 90%;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-left {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-center {
  display: none;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}

.nav-right {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  min-width: 8rem;
}

ul.nav-right li:last-child {
  display: flex;
}

.nav-logo {
  width: 1rem;
  height: auto;
  opacity: 0.8;
}

i {
  color: var(--muted-white);
  font-size: 1rem;
}

/**************
* MAIN SECTION
**************/

section.module-content.hero {
  height: 500px;
  background: no-repeat
    url("../images/hero_iphone14pro_spring__9xo85pm6sbmm_medium_2x.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 30px;
}

.title-text-container,
.title-text-container.module-2,
.title-text-container.module-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--med-font);
  letter-spacing: -0.2px;
}

.title-text-container span {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--thin-font);
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.links-container a {
  margin-right: 2rem;
  font-weight: 400;
}

.links-container a:last-child {
  margin-right: 0;
}

/**************
* MODULE 2
**************/

section.module-content.module-2 {
  height: 500px;
  background: no-repeat
    url("../images/module_2__iphone14_yellow__eun20sn4imi6_large.jpg");
  background-size: 325%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 30px;
}

.title-text-container.module-2 {
  color: black;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.title-text-container.module-2 h2 {
  font-size: 1.9rem;
  font-family: var(--thin-font);
  padding-top: 10px;
}
.title-text-container span {
  font-size: 1.1rem;
  line-height: 1.4;
}
/**************
*  MODULE 3
***************/

section.module-content.module-3 {
  height: 500px;
  background: no-repeat
    url("../images/hero_apple_watch_series_8_spring__b1y8wb7xjc9y_large_2x.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 30px;
}

.title-text-container.module-3 {
  height: 140px;
}
.title-text-container.module-3 img {
  width: 28%;
}

/**************
* MODULE 4
**************/
section.module-content.modules-4-5 {
  display: flex;
  flex-direction: column;
}

section.module-content-left.module-4 {
  height: 500px;
  background: no-repeat url("../images/promo_wwdc23__b68ptht3mro2_large_2x.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 30px;
  margin-top: 1rem;
}

.title-text-container-left.module-4 {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 150px;
}
.title-text-container-left.module-4 img {
  width: 40%;
}

.title-text-container-left.module-4 span {
  font-size: 1.1rem;
  line-height: 1.4;
  width: 70%;
}

/**************
* MODULE 5
**************/
section.module-content-right.module-5 {
  height: 500px;
  background: no-repeat url("../images/promo_ipad__fioegapg12qi_large_2x.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 30px;
  margin-top: 1rem;
}

.title-text-container-right.module-5 {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: black;
}
.title-text-container-right.module-5 img {
  width: 40%;
}

.title-text-container-right.module-5 h3 {
  font-size: 2rem;
}
.title-text-container-right.module-5 span {
  font-size: 1.1rem;
}

/**************
* MEDIA
**************/

@media (min-width: 833px) {
  header {
    margin-right: 0;
  }

  .nav-center {
    display: flex;
  }

  .nav-right {
    justify-content: start;
  }

  ul.nav-right li {
    margin-left: 2rem;
  }

  ul.nav-right li:last-child {
    display: none;
  }

  .nav-logo {
    width: 0.8rem;
  }

  .title-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    padding: 1rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: 600;
    font-family: var(--med-font);
    letter-spacing: -0.2px;
  }

  .title-text-container span {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--thin-font);
  }

  .links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .links-container a {
    margin-right: 1.75rem;
    font-weight: 400;
  }

  section.module-content.module-2 {
    background: cover;
    height: 600px;
  }

  .title-text-container.module-2 {
    height: 165px;
  }

  .title-text-container.module-2 h2 {
    font-size: 2.5rem;
    line-height: 1.4;
  }

  .title-text-container.module-2 span {
    margin-bottom: 20px;
  }

  section.module-content.module-3 {
    background-size: cover;
    height: 650px;
    background-position: center;
  }

  .title-text-container.module-3 {
    height: 200px;
  }

  .title-text-container.module-3 img {
    width: 40%;
    padding-top: 30px;
  }

  section.module-content.modules-4-5 {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }

  section.module-content-left.module-4 {
    width: 48%;
    margin: 2%;
  }

  section.module-content-left.module-4 img {
    width: 48%;
  }

  section.module-content-left.module-4 span {
    width: 100%;
  }
  section.module-content-right.module-5 {
    width: 48%;
  }
}

@media (min-width: 1068px) {
  header {
    height: 50px;
  }
  nav {
    max-width: 83%;
    padding-left: 4%;
  }

  .nav-right {
    margin-left: 0;
  }

  ul.nav-right li {
    justify-content: start;
  }

  section.module-content.hero {
    height: 675px;
    background: no-repeat
      url("../images/hero_iphone14pro_spring__9xo85pm6sbmm_large_2x.jpg");
    background-size: cover;
    background-position: center;
  }

  .title-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 165px;
    padding: 1rem;
  }

  h1 {
    font-size: 3.25rem;
    font-weight: 600;
    font-family: var(--med-font);
    letter-spacing: -0.2px;
  }

  .title-text-container span {
    font-size: 1.75rem;
    font-weight: 400;
    font-family: var(--thin-font);
  }

  .links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .links-container a {
    margin-right: 2rem;
    font-weight: 400;
  }

  a.main-links {
    color: var(--main-links);
    text-decoration: none;
    font-size: 1.25rem;
  }

  a i.fa-chevron-right {
    color: var(--main-links);
    margin-left: 7px;
    font-size: 0.9rem;
  }

  section.module-content.module-2 {
    height: 675px;
    background-size: 200% auto;
  }

  .title-text-container.module-2 {
    height: auto;
  }
  .title-text-container.module-2 h2 {
    font-size: 3.25rem;
    font-weight: 600;
    font-family: var(--med-font);
    letter-spacing: -0.2px;
    line-height: 1.2;
    font-family: var(--thin-font);
  }

  .title-text-container span {
    line-height: 1.2;
    font-family: var(--thin-font);
    margin-bottom: 13px;
  }

  section.module-content.module-3 {
    background-size: 250% auto;
    height: 650px;
    background-position: center;
  }

  .title-text-container.module-3 {
    height: 200px;
    margin-top: 30px;
  }

  .title-text-container.module-3 img {
    width: 50%;
    padding: 0;
    margin: 0;
  }

  section.module-content.modules-4-5 {
    margin-top:0;
  }

  section.module-content-left.module-4 {
    margin: 1%;
    width: 49%;
  }
  
  section.module-content-left.module-4 span {
    width: 65%;
  }

  section.module-content-right.module-5 h3 {
    font-family: var(--med-font);
    font-weight: 600;
    font-size: 2.5rem;

  }

  section.module-content-right.module-5 span {
    letter-spacing: 1.14px;
    margin-bottom: 10px;
  }

  a.main-links {
    font-size: 1rem;
  }

  section.module-content-left.module-4 .fa-chevron-right {
    font-size: 0.6rem;
}
  section.module-content-right.module-5 .fa-chevron-right {
    font-size: 0.6rem;
}
}