@font-face {
  font-family: "SF-Pro-Medium";
  src: url("../fonts/SF-Pro-Text-Medium.otf") format("otf");
}
@font-face {
  font-family: "SF-Pro-Regular";
  src: url("../fonts/SF-Pro-Text-Regular.otf") format("otf");
}

@font-face {
  font-family: "SF-Pro-Thin";
  src: url("../fonts/SF-Pro-Text-Thin.otf") format("otf");
}

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --nav: rgba(22, 22, 23, 0.8);
  --nav-under: rgba(22, 22, 23, 0.9);
  --muted-white: rgba(255, 255, 255, 0.7);
  --main-font: "SF-Pro-Regular", Arial, sans-serif;
  --med-font: "SF-Pro-Medium", Arial, sans-serif;
  --thin-font: "SF-Pro-Thin", Arial, sans-serif;
  --white: #f5f5f7;
  --main-links: rgba(41, 151, 255);
  --light-links: #f5f5f7;
  --footer-font: rgba(29, 29, 31, 0.7);
  --footer-background: rgba(245, 245, 247, 1);
}

html {
  font-size: 16px;
}

.main {
  max-width: 2560px;
  margin: 0 auto;
  padding-top: 40px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
}

/**************
* TYPOGRAPHY
**************/

a.main-links {
  color: var(--main-links);
  text-decoration: none;
  font-size: 1rem;
}

a i.fa-chevron-right {
  color: var(--main-links);
  margin-left: 7px;
  font-size: 0.6rem;
}

a.main-links:hover {
  text-decoration: underline;
  transition: text-decoration 2s ease;
}

/**************
*     HEADER
***************/

body {
  line-height: 1;
  font-family: var(--thin-font);
  color: var(--white);
  font-weight: 400;
}

header {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  color: var(--muted-white);
  padding: 0.4rem 1rem;
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: -0.1px;
  margin-right: --1.25rem;
  background: var(--nav);
  height: 45px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 90%;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-left {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-center {
  display: none;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}

.nav-right {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  min-width: 8rem;
}

ul.nav-right li:last-child {
  display: flex;
}

.nav-logo {
  width: 1rem;
  height: auto;
  opacity: 0.8;
}

i {
  color: var(--muted-white);
  font-size: 1rem;
}

/**************
* MAIN SECTION
**************/

.module-content:first-child {
  padding: 30px;
}

.module-content {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 25px;
}

.module-content.hero {
  background: no-repeat
    url("../images/hero_iphone14pro_spring__9xo85pm6sbmm_medium_2x.jpg");
  background-size: cover;
  background-position: center;
}

.title-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--med-font);
  letter-spacing: -0.2px;
}

.title-text-container span {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--thin-font);
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.links-container a {
  margin-right: 2rem;
  font-weight: 400;
}

.links-container a:last-child {
  margin-right: 0;
}

/**************
* MODULE 2
**************/

.module-content.module-2 {
  background: no-repeat
    url("../images/module_2__iphone14_yellow__eun20sn4imi6_large.jpg");
  background-size: 325%;
  background-position: center;
}

.title-text-container.module-2 {
  color: black;
  height: 150px;
}

.title-text-container.module-2 h2 {
  font-size: 1.9rem;
  font-family: var(--thin-font);
  padding-top: 10px;
}

.title-text-container span {
  font-size: 1.1rem;
  line-height: 1.4;
}

/**************
*  MODULE 3
***************/

.module-content.module-3 {
  background: no-repeat
    url("../images/hero_apple_watch_series_8_spring__b1y8wb7xjc9y_large_2x.jpg");
  background-size: cover;
  background-position: center;
  align-items: start;
}

.title-text-container.module-3 {
  height: 140px;
}
.title-text-container.module-3 img {
  width: 28%;
}

/**************
* MODULE GROUPS
**************/

.module-content-container {
  display: flex;
  flex-direction: column;
}

.title-text-container.half {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 150px;
}

/**************
*  MODULE 4
***************/

.module-content.module-4 {
  background: no-repeat url("../images/promo_wwdc23__b68ptht3mro2_large_2x.jpg");
  background-size: cover;
  background-position: center;
  align-items: end;
}

.title-text-container.module-4 {
  height: 150px;
}

.title-text-container.module-4 img {
  width: 35%;
}

.title-text-container.module-4 span {
  font-size: 1.1rem;
  line-height: 1.4;
  width: 63%;
  padding: 12px 0;
}

/**************
* MODULE 5
**************/

.module-content.module-5 {
  background: no-repeat url("../images/promo_ipad__fioegapg12qi_large_2x.jpg");
  background-size: cover;
  background-position: center;
  align-items: start;
}

.title-text-container.module-5 {
  height: 100px;
  align-items: center;
  color: black;
}

.title-text-container.module-5 h3 {
  font-size: 2rem;
  margin-bottom: 8px;
}

.title-text-container.module-5 span {
  font-size: 1.1rem;
  line-height: 1.4;
  margin-bottom: 10px;
}

/**************
* MODULES 6-7
**************/

/**************
* MODULE 6
**************/

.module-content.module-6 {
  background: no-repeat url("../images/promo_mbp__ek7p477bkp6q_large_2x.jpg");
  background-size: cover;
  background-position: 50% 50%;
  align-items: start;
  margin-bottom: 1%;
}

.title-text-container.module-6 {
  height: 100px;
  align-items: center;
  color: white;
  margin-top: 0;
}

.title-text-container.module-6 h3 {
  font-size: 2rem;
}

.title-text-container.module-6 span {
  font-size: 1.1rem;
  margin: 12px 0;
}
/**************
* MODULE 7
**************/

.module-content.module-7 {
  background: no-repeat
    url("../images/promo_homepod__f7jnolq94m2y_large_2x.jpg");
  background-size: cover;
  background-position: 50% 50%;
  align-items: start;
}

.title-text-container.module-7 {
  height: 100px;
  align-items: center;
  color: white;
  margin-top: 0;
}

.title-text-container.module-7 h3 {
  font-size: 2rem;
}

.title-text-container.module-7 span {
  font-size: 1.1rem;
  margin: 12px 0;
}

/**************
* MODULES 8-9
**************/

/**************
* MODULE 8
**************/
.module-content.module-8 {
  background: no-repeat url("../images/promo__sw58lbodkmqq_large_2x.jpg");
  background-size: cover;
  background-position: 50% 50%;
  align-items: start;
}

.title-text-container.module-8 {
  height: 100px;
  align-items: center;
  color: white;
  margin-top: 0;
}

.title-text-container.module-8 h3 {
  font-size: 2rem;
}

.title-text-container.module-8 span {
  font-size: 1.1rem;
  margin: 12px 0;
}

.title-text-container.module-8 a.main-links,
.title-text-container.module-8 a.main-links i {
  color: var(--light-links);
}

/**************
* MODULE 9
**************/

.module-content.module-9 {
  background: no-repeat url("../images/DrWho_promo__chsko5cvkody_large_2x.jpg");
  background-size: cover;
  background-position: 50% 50%;
  align-items: start;
}

.title-text-container.module-9 {
  height: 100px;
  align-items: center;
  color: white;
  margin-top: 0;
}

.title-text-container.module-9 img {
  width: 50%;
}

.title-text-container.module-9 span {
  font-size: 1.1rem;
  margin: 12px 0;
}

.title-text-container.module-9 a.main-links,
.title-text-container.module-9 a.main-links i {
  color: var(--light-links);
}

/*************
*  FOOTER   
*************/

.footer-container {
  background: var(--footer-background);
}
footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: var(--footer-font);
  width: 100%;
}

nav.footer-nav-wide {
  display: none;
}

nav.footer-nav-narrow {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

nav.footer-nav-narrow ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  font-size: 0.8rem;
}

nav.footer-nav-narrow ul li {
  line-height: 1.4;
}

nav.footer-nav-narrow hr {
  color: var(--footer-font);
  height: 2px;
  opacity: 0.5;
  width: 100%;
}

footer h5 {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

footer h5.break {
  line-height: 1.7;
}

footer h5:first-child {
  margin-top: 10px;
}

footer h5:nth-last-child(2) {
  margin-bottom: 10px;
}

footer hr.full-width {
  display:none;
}
footer a.main-text {
  color: var(--main-links);
}

h5.sub-menu {
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
}

h5.sub-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  font-size: 0.7rem;
  line-height: 2;
}

h5.sub-menu ul li:not(:last-child)::after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
}


/**************
* MEDIA 833px
**************/

@media (min-width: 833px) {
  header {
    margin-right: 0;
  }

  .nav-center {
    display: flex;
  }

  .nav-right {
    justify-content: start;
  }

  ul.nav-right li {
    margin-left: 2rem;
  }

  ul.nav-right li:last-child {
    display: none;
  }

  .nav-logo {
    width: 0.8rem;
  }

  .title-text-container {
    height: 160px;
    padding: 1rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: 600;
    font-family: var(--med-font);
    letter-spacing: -0.2px;
  }

  .title-text-container span {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--thin-font);
  }

  .links-container a {
    margin-right: 1.75rem;
    font-weight: 400;
  }

  .module-content.module-2 {
    background: cover;
    height: 600px;
  }

  .title-text-container.module-2 {
    height: 165px;
  }

  .title-text-container.module-2 h2 {
    font-size: 2.5rem;
    line-height: 1.4;
  }

  .title-text-container.module-2 span {
    margin-bottom: 20px;
  }

  .module-content.module-3 {
    background-size: cover;
    height: 650px;
    background-position: center;
  }

  .title-text-container.module-3 {
    height: 200px;
  }

  .title-text-container.module-3 img {
    width: 40%;
    padding-top: 30px;
  }

  .module-content-container {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }

  .module-content.half {
    width: 49%;
    margin: 0.6%;
  }

  .module-content.module-4 img {
    width: 48%;
  }

  .module-content.module-4 span {
    width: 92%;
  }

  nav.footer-nav-narrow {
    display: none;
  }

  nav.footer-nav-wide {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 20px;
    margin: 20px auto;
  }

  nav.footer-nav-wide .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  nav.footer-nav-wide .col ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 30px;
  }

  nav.footer-nav-wide .col ul li {
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
  }

  nav.footer-nav-wide .col ul li:first-child {
    font-weight: 600;
  }

  nav.footer-nav-wide hr.full-width {
    width: 100%;
  }

  section.footer-details {
    margin: 10px 20px;
    width: 100%;
  }

  footer h5 {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }

  footer h5:first-child {
    margin-top: 10px;
  }

  footer h5:nth-last-child(2) {
    margin-bottom: 10px;
  }

  footer .flex-container-text {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  footer h5.break br {
    display:none;
  }
}

/**************
* MEDIA 1068px
**************/

@media (min-width: 1068px) {
  header {
    height: 50px;
  }

  nav {
    max-width: 83%;
    padding-left: 4%;
  }

  .nav-right {
    margin-left: 0;
  }

  ul.nav-right li {
    justify-content: start;
  }

  .module-content.hero {
    height: 675px;
    background: no-repeat
      url("../images/hero_iphone14pro_spring__9xo85pm6sbmm_large_2x.jpg");
    background-size: cover;
    background-position: center;
  }

  .title-text-container {
    height: 165px;
    padding: 1rem;
  }

  h1 {
    font-size: 3.25rem;
    font-weight: 600;
    font-family: var(--med-font);
    letter-spacing: -0.2px;
  }

  .title-text-container span {
    font-size: 1.75rem;
    font-weight: 400;
    font-family: var(--thin-font);
  }

  .links-container a {
    margin-right: 2rem;
    font-weight: 400;
  }

  a.main-links {
    font-size: 1.25rem;
  }

  a i.fa-chevron-right {
    margin-left: 7px;
    font-size: 0.9rem;
  }

  .module-content.module-2 {
    height: 675px;
    background-size: 200% auto;
  }

  .title-text-container.module-2 h2 {
    font-size: 3.25rem;
    font-weight: 600;
    letter-spacing: -0.2px;
    line-height: 1.2;
    font-family: var(--thin-font);
  }

  .title-text-container span {
    line-height: 1.2;
    font-family: var(--thin-font);
    margin-bottom: 13px;
  }

  .module-content.module-3 {
    background-size: cover;
    height: 700px;
    background-position: center;
  }

  .title-text-container.module-3 {
    height: 200px;
    margin-top: 2rem;
  }

  .title-text-container.module-3 img {
    width: 50%;
    padding: 0;
    margin: 0;
  }

  .module-content.half {
    width: 49%;
    height: 625px;
    margin: 0.4%;
  }

  .module-4 span {
    width: 70%;
  }

  .title-text-container.half h3 {
    font-family: var(--thin-font);
    font-weight: 600;
    font-size: 2.5rem;
  }

  .module-content.half.module-9 img {
    width: 60%;
    margin: 10px 0;
  }
  .title-text-container.half span {
    letter-spacing: 1.14px;
    margin-bottom: 10px;
  }

  .title-text-container.half.module-9 span {
    letter-spacing: 1.5px;
  }

  .title-text-container.half .fa-chevron-right {
    font-size: 0.6rem;
  }

  nav.footer-nav-wide {
    max-width: 100%;
    padding: 0;
  }

  nav.footer-nav-narrow {
    display: none;
  }
}
